{% extends 'theme/cassi/_base.html' %}

{% block title %}博客-{{custom['webName']}}{% endblock %}

{% block content %}
<section class="blog-section">
    {%if ps%}
    {% if not ps[0].cover%}
    {%set cover = current_user.getRandomImage() %}
    {%else%}
    {%set cover = ps[0].cover%}
    {%endif%}
    <div class="feature-blog set-bg" data-setbg="{{cover}}"
         style="background-image: url('{{cover}}');">
        <div class="container">
            <a class="fb-cata" href="{{url_for('home.blogColumn',columnId=ps[0].column.id)}}">{{ps[0].column.title}}</a>
            <h2>{{ps[0].title}}</h2>
            <p>{{ps[0].lead}}</p>
            <a href="{{url_for('home.blogShow',id=ps[0].id)}}" class="site-btn">Read More <i
                    class="arrow_right"></i></a>
        </div>
    </div>
    <div class="blog-post-items">
        {%for p in ps[1:]%}
        {% if not p.cover%}
        {%set cover = current_user.getRandomImage()%}
        {%else%}
        {%set cover = p.cover%}
        {%endif%}
        <div class="blog-col">
            <div class="blog-item set-bg" data-setbg="{{cover}}"
                 style="background-image: url({{cover}});">
                <div class="blog-text">
                    <a class="bi-cata" href="{{url_for('home.blogColumn',columnId=p.column.id)}}">{{p.column.title}}</a>
                    <h6><a href="{{url_for('home.blogShow',id=ps[0].id)}}">{{p.title}}</a></h6>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endif%}

    {%if page>0%}
    {%if c%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.blogColumn',columnId=c.id,page=page-1)}}">
            <i class="ti-angle-left"></i> 上一页
        </a>
    {%elif tag%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.blogTag',tag=tag,page=page-1)}}">
            <i class="ti-angle-left"></i> 上一页
        </a>
    {%else%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.blog',page=page-1)}}">
            <i class="ti-angle-left"></i> 上一页
        </a>
    {%endif%}
    {%endif%}
    {%if ps.count()>(page+1)*10%}
    {%if c%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.blogColumn',columnId=c.id,page=page+1)}}">
            下一页 <i class="ti-angle-right"></i>
        </a>
    {%elif tag%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.blogTag',tag=tag,page=page+1)}}">
            下一页 <i class="ti-angle-right"></i>
        </a>
    {%else%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.blog',page=page+1)}}">
            下一页 <i class="ti-angle-right"></i>
        </a>
    {%endif%}
    {%endif%}
</section>
{% endblock %}