{% extends 'theme/cassi/_base.html' %}

{% block title %}{{p.title}}-{{custom['webName']}}{% endblock %}

{% block customCss %}
<style>
    .blog-single-section .container img {
        max-width: 100% !important;
        height: auto !important;
    }
</style>
{% endblock %}

{% block content %}
<section class="blog-single-section">
    <div class="blog-single-header set-bg" data-setbg="{{current_user.getRandomImage()}}"
         style="background-image: url({{current_user.getRandomImage()}});">
        <div class="container">
            <a class="fb-cata" href="{{url_for('home.blogColumn',columnId=p.column.id)}}">{{p.column.title}}</a>
            <h2>{{p.title}}</h2>
            <div class="bs-metas">
                <div class="bs-meta">
                    <i class="fa fa-user"></i>
                    By {{custom['userName']}}
                </div>
                <div class="bs-meta">
                    <i class="fa fa-circle"></i>
                    {{p.writeTime}}
                </div>
                <div class="bs-meta">
                    <i class="fa fa-tags"></i>
                    {%for t in p.tags%}
                    <a href="{{url_for('home.blogTag',tag=t)}}">{{t}}</a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto blog-content">
                {%if p.video%}
                <div class="text-center">
                    {{p.video|safe}}
                </div>
                {%endif%}
                {{p.content|safe}}
            </div>
        </div>
    </div>
    <div class="row pt-5 m-0">
        {% set prevAndNextPost = current_user.getPrevAndNextPost(p.id) %}
        {%if prevAndNextPost[0]%}
        {% set prev = prevAndNextPost[0] %}
        <div class="col-md-6 taxt-left text-md-right p-0">
            <div class="blog-item recent-blog set-bg" data-setbg="{{prev.cover}}"
                 style="background-image: url({{prev.cover}});">
                <div class="blog-text ml-auto">
                    <div class="bi-cata">上一篇</div>
                    <h6><a href="{{url_for('home.blogShow',id=prev.id)}}">{{prev.title}}</a></h6>
                </div>
            </div>
        </div>
        {%endif%}
        {%if prevAndNextPost[1]%}
        {% set next = prevAndNextPost[1] %}
        <div class="col-md-6 p-0">
            <div class="blog-item recent-blog set-bg" data-setbg="{{next.cover}}"
                 style="background-image: url({{next.cover}});">
                <div class="blog-text">
                    <div class="bi-cata">下一篇</div>
                    <h6><a href="{{url_for('home.blogShow',id=next.id)}}">{{next.title}}</a></h6>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto blog-content">
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" sid="post-{{p.id}}"></div>
                {%if custom['commentCode']%}
                {{custom['commentCode']|safe}}
                {%endif%}
            </div>
        </div>
    </div>
</section>
{% endblock %}