{% extends 'theme/cassi/_base.html' %}

{% block title %}contact-{{custom['webName']}}{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-warp set-bg" data-setbg="{{current_user.getRandomImage()}}"
         style="background-image: url({{current_user.getRandomImage()}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info">
                        <h4>Follow Me</h4>
                            <img src="{{url_for('static',filename=custom['weixin'])}}" height="150px">
                            <a href="{{custom['weibo']}}">
                            <i class="fa fa-weibo ml-2"></i>
                        </a>

                    </div>
                    <div class="contact-info">
                        <h4>Email</h4>
                        <div class="ci-item">
                            <i class="fa fa-envelope"></i>
                            {{custom['email']}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact-form">
                        <label for="y-name">Your Name:</label>
                        <input type="text" name="name">
                        <label for="y-email">Email Address:</label>
                        <input type="text" name="email">
                        <label for="y-msg">Leave A Message:</label>
                        <textarea name="message"></textarea>
                        <button class="site-btn" id="postDataBtn">Send Us Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block customJs %}
<script>
    $(document).ready(function () {
        $("#postDataBtn").on("click", function () {
            var tempThis = $(this)
            tempThis.addClass('d-none')
            var name = $("input[name='name']").val()
            var email = $("input[name='email']").val()
            var message = $("textarea[name='message']").val()
            postUrl = "{{ url_for('home.contact') }}"
            $.ajax({
                type: "POST",
                url: postUrl,
                data: {'name': name, 'email': email, 'message': message},
                success: function (ret) { //ret={'status':true,'info':'.....'}
                    alert(ret.info)
                    if (ret.status) {
                        window.location.href = postUrl;
                    }
                    tempThis.removeClass('d-none')
                }
            });
        });
    });
</script>
{% endblock %}

