{% extends 'theme/cassi/_base.html' %}

{% block title %}{{custom['webName']}}{% endblock %}

{% block content %}
<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        {%for s in custom['slide']%}
            {%if s[0]%}
                <div class="hero-item">
                <div class="hero-text">
                    <div class="ht-cata">{{loop.index}}</div>
                    {%if s[1]%}<h2>{{s[1]}}</h2>{%endif%}
                    {%if s[2]%}<p>{{s[2]}}</p>{%endif%}
                    <a {%if s[3]%}href="{{s[3]}}"{%endif%} class="ht-btn">See More <i class="arrow_right"></i></a>
                </div>
                <div class="hi-bg set-bg" data-setbg="{{url_for('static',filename=s[0])}}"></div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
</section>
<!-- Hero section end -->
{% endblock %}