{% extends 'theme/cassi/_base.html' %}

{% block title %}知识分享-{{custom['webName']}}{% endblock %}

{% block content %}
<section class="blog-section">
    <div class="blog-post-items">
        {%for k in ks%}
        <div class="blog-col">
            <div class="blog-item set-bg" data-setbg="{{current_user.getRandomImage()}}"
                 style="background-image: url({{current_user.getRandomImage()}})">
                <div class="blog-text">
                    <div class="bi-cata">{{k.title}}</div>
                    <h6><a href="{{url_for('home.kispowerKShareShow',id=k.id)}}" target="_blank">{{k.introduction|truncate(60, killwords=True, leeway=0)}}</a></h6>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%if page>0%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.kshare',page=page-1)}}"><i class="ti-angle-left"></i> 上一页</a>
    {%endif%}
    {%if ks.count()>(page+1)*12%}
        <a class="site-btn mt-5" href="{{url_for('home.kshare',page=page+1)}}">下一页 <i class="ti-angle-right"></i></a>
    {%endif%}
</section>
{% endblock %}

