{% extends 'theme/cassi/_base.html' %}

{% block title %}{{a.title}}-{{custom['webName']}}{% endblock %}

{% block content %}
<section class="gallery-section">
    <div class="row gallery-gird">
        {%for p in ps%}
        <div class="col-lg-4 col-xl-3 col-sm-6">
            <a class="gallery-item fresco" href="{{url_for('static',filename=p.path)}}" data-fresco-group="projects">
                <img src="{{url_for('static',filename=p.path)}}" alt="">
                <div class="gi-text">
                    <p>{{p.introduction}}</p>
                </div>
            </a>
        </div>
        {%endfor%}
    </div>
    {%if page>0%}
        <a class="site-btn mt-5 mr-5" href="{{url_for('home.photo',albumId=a.id,page=page-1)}}"><i class="ti-angle-left"></i> 上一页</a>
    {%endif%}
    {%if ps.count()>(page+1)*21%}
        <a class="site-btn mt-5" href="{{url_for('home.photo',albumId=a.id,page=page+1)}}">下一页 <i class="ti-angle-right"></i></a>
    {%endif%}
</section>
{% endblock %}