{% extends 'theme/photon/_base.html' %}

{% block title %}about-{{custom['webName']}}{% endblock %}

{% block content %}
<div class="aos-init aos-animate" data-aos="fade">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="row site-section">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">About Me</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    {{custom['aboutMe']|safe}}
                    <!--PC和WAP自适应版-->
                    <div id="SOHUCS" sid="about"></div>
                    {%if custom['commentCode']%}
                    {{custom['commentCode']|safe}}
                    {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

