{% extends 'theme/photon/_base.html' %}

{% block title %}博客-{{custom['webName']}}{% endblock %}

{% block content %}
<div class="aos-init aos-animate" data-aos="fade">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row site-section">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">My Blog
                        {%if c%}
                        : {{c.title}}
                        {%endif%}
                        {%if tag%}
                        : {{tag}}
                        {%endif%}
                        {%if search%}
                        : {{search}}
                        {%endif%}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        {%for p in ps%}
                        <div class="row p-4">
                            <div class="col-4">
                                {%if not p.cover%}
                                <img src="{{current_user.getRandomImage()}}"
                                     class="img-fluid">
                                {%else%}
                                <img src="{{p.cover}}" class="img-fluid">
                                {%endif%}
                            </div>

                            <div class="col-8">
                                <div class="blog-entry ftco-animate d-md-flex">
                                    <div class="text text-2">
                                        <h3 class="mb-2"><a href="{{url_for('home.blogShow',id=p.id)}}">{{p.title}}</a>
                                        </h3>
                                        <div class="meta-wrap">
                                            <p class="meta">
                                                <span>{{p.writeTime}}</span>
                                                <span><a href="{{url_for('home.blogColumn',columnId=p.column.id)}}">{{p.column.title}}</a></span>
                                            </p>
                                        </div>
                                        <p class="mb-4">{{p.lead|truncate(50, killwords=True, leeway=0)}}</p>
                                        <p><a href="{{url_for('home.blogShow',id=p.id)}}" class="btn-custom">Read More
                                            <span
                                                    class="ion-ios-arrow-forward"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {%endfor%}
                        <div class="row p-4 mb-3 float-right">
                            <div class="col-12">
                                {%if page>0%}
                                {%if c%}
                                <a href="{{url_for('home.blogColumn',columnId=c.id,page=page-1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">上一页</button>
                                </a>
                                {%elif tag%}
                                <a href="{{url_for('home.blogTag',tag=tag,page=page-1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">上一页</button>
                                </a>
                                {%elif search%}
                                <a href="{{url_for('home.blogSearch',search=search,page=page-1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">上一页</button>
                                </a>
                                {%else%}
                                <a href="{{url_for('home.blog',page=page-1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">上一页</button>
                                </a>
                                {%endif%}
                                {%endif%}
                                {%if ps.count()>(page+1)*10%}
                                {%if c%}
                                <a class="ml-5" href="{{url_for('home.blogColumn',columnId=c.id,page=page+1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">下一页</button>
                                </a>
                                {%elif tag%}
                                <a class="ml-5" href="{{url_for('home.blogTag',tag=tag,page=page+1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">下一页</button>
                                </a>
                                {%elif search%}
                                <a class="ml-5" href="{{url_for('home.blogSearch',search=search,page=page+1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">下一页</button>
                                </a>
                                {%else%}
                                <a class="ml-5" href="{{url_for('home.blog',page=page+1)}}">
                                    <button class="btn btn-primary py-2 px-4 text-white">下一页</button>
                                </a>
                                {%endif%}
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 sidebar ftco-animate bg-light">
                        <div class="mt-5 mb-5">
                            <form class="search-form" action="{{url_for('home.blogSearch')}}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="search" name="search">
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="mb-5">
                            <h3 class="sidebar-heading">Categories</h3>
                            <ul class="categories">
                                {%for item in current_user.getBlogColumn()%}
                                <li><a href="{{url_for('home.blogColumn',columnId=item.id)}}">{{item.title}} <span>({{item.postCount}})</span></a>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                        <hr>
                        <div class="mb-5">
                            <h3 class="sidebar-heading">Popular Articles</h3>
                            {%for p in current_user.getHotPost()%}
                            <div class="row block-21 mt-4 d-flex">
                                <div class="col-4">
                                    {%if not p.cover%}
                                    <img src="{{current_user.getRandomImage()}}"
                                         class="img-fluid">
                                    {%else%}
                                    <img src="{{p.cover}}" class="img-fluid">
                                    {%endif%}
                                </div>
                                <div class="col-8">
                                    <h5 class="heading"><a href="{{url_for('home.blogShow',id=p.id)}}">{{p.title}}</a>
                                    </h5>
                                    <div class="meta">
                                        <div>{{p.writeTime}}</div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <hr>
                        <div class="mb-5">
                            <h3 class="sidebar-heading">Tag Cloud</h3>
                            <p>
                                {%for t,count in custom['tags'].items()%}
                                <a type="button" href="{{url_for('home.blogTag',tag=t)}}" class="btn btn-primary btn-sm mb-2">{{t}}({{count}})</a>
                                {%endfor%}
                            </p>
                        </div>
                        <hr>
                        <div class="mb-5">
                            <h3 class="sidebar-heading">Paragraph</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
                                necessitatibus
                                voluptate quod mollitia delectus aut.</p>
                        </div>
                    </div><!-- END COL -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}