{% extends 'theme/photon/_base.html' %}

{% block title %}知识分享-{{custom['webName']}}{% endblock %}

{% block content %}
<div class="aos-init aos-animate" data-aos="fade">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row site-section">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">Knowledge Sharing</h2>
                    </div>
                </div>
                <div class="row">
                    {%for k in ks%}
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated mb-5">
                        <div class="media block-6 services d-block shadow p-4">
                            <a class="media-body" href="{{url_for('home.kispowerKShareShow',id=k.id)}}"
                               target="_blank">
                                <h3 class="heading mb-3">
                                    <span class="icon icon-title"></span>
                                    {{k.title}}
                                </h3>
                                <p>{{k.introduction|truncate(60, killwords=True, leeway=0)}}</p>
                            </a>
                            <p>{{k.shareTime}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="row mb-3 float-right">
                    <div class="col-12">
                        {%if page>0%}
                        <a href="{{url_for('home.kshare',page=page-1)}}">
                            <button class="btn btn-primary py-2 px-4 text-white">上一页</button>
                        </a>
                        {%endif%}
                        {%if ks.count()>(page+1)*11%}
                        <a href="{{url_for('home.kshare',page=page+1)}}" class="ml-5">
                            <button class="btn btn-primary py-2 px-4 text-white">下一页</button>
                        </a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

