{% extends 'theme/photon/_base.html' %}

{% block title %}{{a.title}}-{{custom['webName']}}{% endblock %}

{% block content %}
<div class="aos-init aos-animate" data-aos="fade">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row site-section">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">My Gallery : {{a.title}}</h2>
                        <p class="text-center mt-2">
                            {%for album in current_user.getPhotoAlbum()%}
                            <span class="mr-2"><a href="{{url_for('home.photo',albumId=album.id)}}">{{album.title}}</a></span>
                            {%endfor%}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="row" id="lightgallery">
                        {%for p in ps%}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item aos-init aos-animate" data-aos="fade"
                             data-src="{{url_for('static',filename=p.path)}}"
                             data-sub-html="<h4>Introduction</h4><p>{%if p.introduction%}{{p.introduction}}{%endif%}</p>">
                            <a href="#"><img src="{{url_for('static',filename=p.path)}}" alt="IMage" class="img-fluid"></a>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="row mb-3 float-right">
                    <div class="col-12">
                        {%if page>0%}
                        <a href="{{url_for('home.photo',albumId=a.id,page=page-1)}}">
                            <button class="btn btn-primary py-2 px-4 text-white">上一页</button>
                        </a>
                        {%endif%}
                        {%if ps.count()>(page+1)*21%}
                        <a href="{{url_for('home.photo',albumId=a.id,page=page+1)}}" class="ml-5">
                            <button class="btn btn-primary py-2 px-4 text-white">下一页</button>
                        </a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}