{% extends 'theme/default/_base.html' %}

{% block title %}about-{{custom['webName']}}{% endblock %}

{% block customCss %}
<style>
    .bradcam_area {
        background-image: url('{{current_user.getRandomImage()}}');
    }
</style>
{% endblock %}

{% block content %}
<div class="bradcam_area">
    <h3>
        about
    </h3>
</div>

<section class="sample-text-area">
    <div class="container box_1170">
        {{custom['aboutMe']|safe}}
        <div>
            <!--PC和WAP自适应版-->
            <div id="SOHUCS" sid="about"></div>
            {%if custom['commentCode']%}
            {{custom['commentCode']|safe}}
            {%endif%}
        </div>
    </div>
</section>

{% endblock %}