{% extends 'theme/default/_base.html' %}

{% block title %}博客-{{custom['webName']}}{% endblock %}

{% block customCss %}
<style>
    .bradcam_area {
        background-image: url('{{current_user.getRandomImage()}}');
    }
</style>
{% endblock %}

{% block content %}
<div class="bradcam_area">
    <h3>
        博客
        {%if c%}
        <small>：{{c.title}}</small>
        {%endif%}
        {%if tag%}
        <small>：{{tag}}</small>
        {%endif%}
        {%if search%}
        <small>：{{search}}</small>
        {%endif%}
    </h3>
</div>

<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {%for p in ps%}
                    <article class="blog_item">
                        <div class="blog_details row">
                            <div class="col-4">
                                {%if not p.cover%}
                                <img src="{{current_user.getRandomImage()}}"
                                     class="img-fluid">
                                {%else%}
                                <img src="{{p.cover}}" class="img-fluid">
                                {%endif%}
                            </div>
                            <div class="col-8">
                                <a class="d-inline-block" href="{{url_for('home.blogShow',id=p.id)}}">
                                <p style="font-size: 28px;font-weight: bold">{{p.title}}</p>
                            </a>
                            <p>{{p.lead|truncate(50, killwords=True, leeway=0)}}</p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-circle"></i><a
                                        href="{{url_for('home.blogColumn',columnId=p.column.id)}}">
                                    {{p.column.title}}</a></li>
                                <li><i class="fa fa-clock-o"></i>{{p.writeTime}}</li>
                                {%if p.isTop%}
                                <li class="d-none d-md-block d-lg-block d-xl-block"><i class="fa fa-star"></i>置顶</li>
                                {%endif%}
                            </ul>
                            </div>

                        </div>
                    </article>
                    {%endfor%}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {%if page>0%}
                            {%if c%}
                            <li class="page-item">
                                <a href="{{url_for('home.blogColumn',columnId=c.id,page=page-1)}}" class="page-link"
                                   aria-label="Previous">
                                    <i class="ti-angle-left"></i> 上一页
                                </a>
                            </li>
                            {%elif tag%}
                            <li class="page-item">
                                <a href="{{url_for('home.blogTag',tag=tag,page=page-1)}}" class="page-link"
                                   aria-label="Previous">
                                    <i class="ti-angle-left"></i> 上一页
                                </a>
                            </li>
                            {%elif search%}
                            <li class="page-item">
                                <a href="{{url_for('home.blogSearch',search=search,page=page-1)}}" class="page-link"
                                   aria-label="Previous">
                                    <i class="ti-angle-left"></i> 上一页
                                </a>
                            </li>
                            {%else%}
                            <li class="page-item">
                                <a href="{{url_for('home.blog',page=page-1)}}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i> 上一页
                                </a>
                            </li>
                            {%endif%}
                            {%endif%}
                            {%if ps.count()>(page+1)*10%}
                            {%if c%}
                            <li class="page-item">
                                <a href="{{url_for('home.blogColumn',columnId=c.id,page=page+1)}}" class="page-link"
                                   aria-label="Previous">
                                    下一页 <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {%elif tag%}
                            <li class="page-item">
                                <a href="{{url_for('home.blogTag',tag=tag,page=page+1)}}" class="page-link"
                                   aria-label="Previous">
                                    下一页 <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {%elif search%}
                            <li class="page-item">
                                <a href="{{url_for('home.blogSearch',search=search,page=page+1)}}" class="page-link"
                                   aria-label="Previous">
                                    下一页 <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {%else%}
                            <li class="page-item">
                                <a href="{{url_for('home.blog',page=page+1)}}" class="page-link" aria-label="Previous">
                                    下一页 <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {%endif%}
                            {%endif%}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="{{url_for('home.blogSearch')}}" method="post">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search Keyword"
                                           name="search">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">
                                Search
                            </button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">专栏</h4>
                        <ul class="list cat-list">
                            {%for item in current_user.getBlogColumn()%}
                            <li>
                                <a href="{{url_for('home.blogColumn',columnId=item.id)}}" class="d-flex">
                                    <p>{{item.title}}</p>
                                    <p>({{item.postCount}})</p>
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">标签云</h4>
                        <ul class="list">
                            {%for t,count in custom['tags'].items()%}
                            <li>
                                <a href="{{url_for('home.blogTag',tag=t)}}">{{t}}({{count}})</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">最新文章</h3>
                        {%for p in current_user.getRecentPost()%}
                        <div class="media post_item">
                            {%if p.cover%}
                            <img src="{{p.cover}}" alt="post" width="80">
                            {%else%}
                            <img src="{{current_user.getRandomImage()}}" alt="post" width="80">
                            {%endif%}
                            <div class="media-body">
                                <a href="{{url_for('home.blogShow',id=p.id)}}">
                                    <h3>{{p.title}}</h3>
                                </a>
                                <p>{{p.writeTime}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">热门文章</h3>
                        {%for p in current_user.getHotPost()%}
                        <div class="media post_item">
                            {%if p.cover%}
                            <img src="{{p.cover}}" alt="post" width="80">
                            {%else%}
                            <img src="{{current_user.getRandomImage()}}" alt="post" width="80">
                            {%endif%}
                            <div class="media-body">
                                <a href="{{url_for('home.blogShow',id=p.id)}}">
                                    <h3>{{p.title}}</h3>
                                </a>
                                <p>{{p.writeTime}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}