{% extends 'theme/default/_base.html' %}

{% block title %}{{custom['webName']}}{% endblock %}

{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            {%for s in custom['slide']%}
            {%if s[0]%}
            <div class="single_slider d-flex align-items-center justify-content-center" style="background-image: url({{url_for('static',filename=s[0])}});">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                {%if s[1]%}<a {%if s[3]%}href="{{s[3]}}"{%endif%}><h3>{{s[1]}}</h3></a>{%endif%}
                                {%if s[1]%}<a {%if s[3]%}href="{{s[3]}}"{%endif%}><p>{{s[2]}}</p></a>{%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
    </div>
    <!-- slider_area_end -->
{% endblock %}