{% extends 'theme/default/_base.html' %}

{% block title %}{{a.title}}-{{custom['webName']}}{% endblock %}

{% block customCss %}
<style>
    .bradcam_area {
        background-image: url('{{current_user.getRandomImage()}}');
    }
</style>
{% endblock %}

{% block content %}
<div class="bradcam_area">
    <h3>
        相册
        {%if a%}
        <small>：{{a.title}}<br>{%if a.introduction%}{{a.introduction}}{%endif%}</small>
        {%endif%}
    </h3>
</div>

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row gallery-item">
                {%for p in ps%}
                <div class="col-md-4">
                    <a href="{{url_for('static',filename=p.path)}}" class="img-pop-up"
                       title="{%if p.introduction%}{{p.introduction}}{%endif%}">
                        <div class="single-gallery-image"
                             style="background: url({{url_for('static',filename=p.path)}});"></div>
                    </a>
                </div>
                {%endfor%}
            </div>
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    {%if page>0%}
                    <li class="page-item">
                        <a href="{{url_for('home.photo',albumId=a.id,page=page-1)}}" class="page-link"
                           aria-label="Previous">
                            <i class="ti-angle-left"></i> 上一页
                        </a>
                    </li>
                    {%endif%}
                    {%if ps.count()>(page+1)*21%}
                    <li class="page-item">
                        <a href="{{url_for('home.photo',albumId=a.id,page=page+1)}}" class="page-link"
                           aria-label="Previous">
                            下一页 <i class="ti-angle-right"></i>
                        </a>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}