{% extends 'admin/_base.html' %}

{% block title %}导航管理-后台管理{% endblock %}

{% block sidebar %}
{% include "admin/_admin_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">添加导航分类栏目</h4>
                <p class="card-description">请填写栏目名称</p>
                <form class="forms-sample" action="{{ url_for('admin.navigationColumnAdd') }}" method='post'>
                    <div class="form-group">
                        <label for="exampleInputName1"><i class="mdi mdi-multiplication text-danger"></i>栏目名称</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="column">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">栏目介绍</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="6" name="introduction"></textarea>
                    </div>
                    <button type="submit" class="btn btn-gradient-success mr-2">提交</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">栏目列表</h4>
                <p class="card-description"> 可排序 </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>栏目名称</th>
                            <th>网站个数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for n in ns%}
                        <tr>
                            <td>
                                {{n.number}}
                            </td>
                            <td>{{n.column}}</td>
                            <td>{{n.webs|length}}</td>
                            <td>
                                <button class="btn btn-gradient-danger btn-xs objDelete"
                                        deleteUrl="{{ url_for('admin.navigationColumnDelete',id=n.id) }}">删除
                                </button>
                                <a class="btn btn-gradient-info btn-xs"
                                   href="{{ url_for('admin.navigationColumnEdit',id=n.id) }}">修改</a>
                                <a class="btn btn-gradient-info btn-xs"
                                   href="{{ url_for('admin.navigationColumnManage',id=n.id) }}">管理</a>
                                {% if loop.index!=1%}
                                <a class="btn btn-gradient-success btn-xs"
                                   href="{{ url_for('admin.navigationColumnNumberChange',number=n.number,direction='up') }}">上移</a>
                                {% endif %}
                                {% if loop.index!=ns.count()%}
                                <a class="btn btn-gradient-info btn-xs"
                                   href="{{ url_for('admin.navigationColumnNumberChange',number=n.number,direction='down') }}">下移</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block customJs %}
<script>
    $(document).ready(function () {
        $(".objDelete").on('click', function () {
            var deleteUrl = $(this).attr('deleteUrl')
            if (confirm('确定要删除吗?') == true) {
                $(window).attr('location', deleteUrl);
            }
        });
    });
</script>
{% endblock %}
