{% extends 'admin/_base.html' %}

{% block title %}时间管理-后台管理{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='extension/dataTable/dataTables.bootstrap4.min.css')}}">
{% endblock %}

{% block sidebar %}
{% include "admin/_admin_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <button class="btn btn-gradient-success mr-2 d-none" id="clickDisplay">添加日计划</button>
        <div class="card d-block" id="clickDisplayItem">
            {% if wps|length == 0%}
            <div class="card-body">
                <h4 class="card-title">你还没有添加周计划，请先去添加周计划再来添加日计划</h4>
                <a class="btn btn-gradient-success btn-fw"
                   href="{{ url_for('admin.timeManagementWeeklyPlan')}}">添加周计划</a>
            </div>
            {% else %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 mb-3">
                        <h4 class="card-title">添加日计划</h4>
                        <p class="card-description">日计划下属于某个周计划,日计划标题以选择的日期自动生成</p>
                        <div class="forms-sample">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="exampleInputName1"><i
                                            class="mdi mdi-multiplication text-danger"></i>所属周计划（只展示最近12周）</label>
                                    <select class="form-control" name="weeklyPlanId">
                                        {% for w in wps%}
                                        <option value="{{w.id}}">{{w.title}}（{{w.startTime}} 至 {{w.endTime}}）</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="exampleInputName1">
                                        <i class="mdi mdi-multiplication text-danger"></i>
                                        日期
                                        （日期在所属的周计划时间范围内，且不与该周计划下的其它日计划时间冲突）
                                    </label>
                                    <div class="input-group input-daterange d-flex align-items-center">
                                        <input class="form-control timePicker-date" type="text" name="whichDay"
                                               autocomplete="off" placeholder="选择日期">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="getPlans">
                                <label for="exampleInputName1">
                                    日计划任务：包含任务级别，任务标题
                                    <button class="btn btn-gradient-primary btn-xs" type="button" id="addItem">添加任务
                                    </button>
                                    <a class="btn btn-gradient-dark btn-xs" type="button" href="{{url_for('admin.timeManagementDailyTasksEdit')}}">日常任务管理</a>
                                </label>
                                {% for p in current_user.custom['dailyTasks']%}
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <button class="btn btn-gradient-danger btn-xs mt-2 deleteItem"
                                                    type="button">删除
                                            </button>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="planLevel">
                                                        {% for o in levels.keys()%}
                                                        <option value="{{o}}" {%if p[0]==o %}selected="selected"
                                                                {%endif%}>{{levels[o]}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input class="form-control" placeholder="任务标题" name="planTitle"
                                                           value="{{p[1]}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                                <div id="addHtml">
                                </div>
                            </div>
                            <button class="btn btn-gradient-success mr-2" id="postDataBtn">提交</button>
                            <button type="button" class="btn btn-gradient-info mr-2" id="clickPackUp">收起</button>
                        </div>
                        <div id="sourceHtml" class="d-none">
                            <div class="row">
                                <div class="col-sm-1">
                                    <button class="btn btn-gradient-danger btn-xs mt-2 deleteItem" type="button">删除
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="planLevel">
                                                {% for o in levels.keys()%}
                                                <option value="{{o}}">{{levels[o]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input class="form-control" placeholder="任务标题" name="planTitle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h4 class="card-title">所属周计划任务列表</h4>
                        <p class="card-description" id="parentPlanTitle">{{wps[0].title}}</p>
                        <ul class="list-unstyled" id="parentPlanJobs">
                            {%for i in wps[0].plans%}
                            <li>
                                {% if i.level == 'L1' %}
                                <label class="alert alert-danger">紧急重要：{{i.title}} {%if i.isDone%}<i class="mdi mdi-check"></i>{%endif%}</label>
                                {% elif i.level == 'L2' %}
                                <label class="alert alert-warning">紧急不重要：{{i.title}} {%if i.isDone%}<i class="mdi mdi-check"></i>{%endif%}</label>
                                {% elif i.level == 'L3' %}
                                <label class="alert alert-info">重要不紧急：{{i.title}} {%if i.isDone%}<i class="mdi mdi-check"></i>{%endif%}</label>
                                {% else %}
                                <label class="alert alert-success">不重要不紧急：{{i.title}} {%if i.isDone%}<i class="mdi mdi-check"></i>{%endif%}</label>
                                {% endif %}
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">日计划列表</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>所属周计划</th>
                            <th>日期</th>
                            <th>任务数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in dps%}
                        <tr>
                            <td>
                                {{loop.index}}
                            </td>
                            <td>{{d.title}}</td>
                            <td><a href="{{ url_for('admin.timeManagementBoard',planType='wp',id=d.weeklyPlan.id) }}">{{d.weeklyPlan.title}}</a>
                            </td>
                            <td>{{d.whichDay}}</td>
                            <td>{{d.plans|length}}</td>
                            <td>
                                <a class="btn btn-gradient-danger btn-xs objDelete"
                                   deleteUrl="{{ url_for('admin.timeManagementDailyPlanDelete',id=d.id) }}">删除</a>
                                <a class="btn btn-gradient-info btn-xs"
                                   href="{{ url_for('admin.timeManagementDailyPlanEdit',id=d.id) }}">修改</a>
                                <a class="btn btn-gradient-info btn-xs"
                                   href="{{ url_for('admin.timeManagementBoard',planType='dp',id=d.id) }}">看板</a>
                                <a class="btn btn-gradient-info btn-xs"
                                   href="{{ url_for('admin.timeManagementWriteSummarize',planType='dp',id=d.id) }}">写总结</a>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block customJs %}
<script src="{{url_for('static',filename='extension/laydate/laydate.js')}}"></script>
<script src="{{url_for('static',filename='extension/dataTable/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='extension/dataTable/dataTables.bootstrap4.min.js')}}"></script>
<script>
    $(document).ready(function () {
        $("select[name='weeklyPlanId']").on('change',function(){
            parentPlanId = $(this).val()
            postUrl = "{{url_for('admin.timeManagementGetParentPlans')}}"
            $.ajax({
                type: "POST",
                url: postUrl,
                data: {
                    'id': parentPlanId,
                    'planType': 'wp',
                },
                success: function (ret) {
                    if (ret.status) {
                        $("#parentPlanTitle").text(ret.data.parentPlanTitle)
                        $("#parentPlanJobs").html(ret.data.parentPlanJobs)
                    }
                }
            });
        });

        $("#postDataBtn").on("click", function () {
            var tempThis = $(this)
            tempThis.addClass('d-none')
            weeklyPlanId = $("select[name='weeklyPlanId']").val()
            whichDay = $("input[name='whichDay']").val()
            planLevel = []
            $("#getPlans select[name='planLevel']").each(function () {
                planLevel.push($(this).val())
            });
            planTitle = []
            $("#getPlans input[name='planTitle']").each(function () {
                planTitle.push($(this).val())
            });
            postUrl = "{{ url_for('admin.timeManagementDailyPlanAdd') }}"
            $.ajax({
                type: "POST",
                url: postUrl,
                data: {
                    'weeklyPlanId': weeklyPlanId,
                    'whichDay': whichDay,
                    'planLevel': planLevel,
                    'planTitle': planTitle
                },
                success: function (ret) { //ret={'status':true,'info':'.....'}
                    alert(ret.info)
                    if (ret.status) {
                        window.location.reload()
                    } else {
                        tempThis.removeClass('d-none')
                    }
                }
            });
        });
        var html = $("#sourceHtml").html();
        $("#addItem").on('click', function () {
            $("#addHtml").append(html);
            //为新添加的内容初始化
            lay('.timePicker').each(function () {
                laydate.render({
                    elem: this
                    , trigger: 'click'
                    , type: 'time'
                    , range: true
                });
            });
        });
        $(document).on('click', '.deleteItem', function (e) {
            //$(".deleteItem").on('click', function () {
            $(this).parent().parent().remove();
        });
        $("#clickDisplay").on('click', function () {
            $(this).removeClass('d-block');
            $(this).addClass('d-none');
            $("#clickDisplayItem").removeClass('d-none');
            $("#clickDisplayItem").addClass('d-block');
        });
        $("#clickPackUp").on('click', function () {
            $("#clickDisplay").removeClass('d-none');
            $("#clickDisplay").addClass('d-block');
            $("#clickDisplayItem").removeClass('d-block');
            $("#clickDisplayItem").addClass('d-none');
        });
        $(".objDelete").on('click', function () {
            var deleteUrl = $(this).attr('deleteUrl')
            if (confirm('确定要删除该日计划吗?') == true) {
                $(window).attr('location', deleteUrl);
            }
        });
        $('.table').DataTable();
        //日期选择
        lay('.timePicker-date').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });
    });
</script>
{% endblock %}
