{% extends 'admin/_base.html' %}

{% block title %}时间管理-后台管理{% endblock %}

{% block sidebar %}
{% include "admin/_admin_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 mb-3">
                        <h4 class="card-title">修改月计划</h4>
                        <p class="card-description">月计划下属于某个年计划，以一个月的时间范围来计划比较好</p>
                        <div class="forms-sample">
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <label for="exampleInputName1"><i
                                            class="mdi mdi-multiplication text-danger"></i>月计划标题</label>
                                    <input type="text" class="form-control" placeholder="如：2020年1月计划" name="title"
                                           value="{{m.title}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="exampleInputName1"><i
                                            class="mdi mdi-multiplication text-danger"></i>所属年计划</label>
                                    <select class="form-control" name="yearlyPlanId">
                                        {% for y in yps%}
                                        <option value="{{y.id}}" {%if y.id==m.yearlyPlan.id %}selected="selected"
                                                {%endif%}>{{y.title}}（{{y.startTime}} 至 {{y.endTime}}）
                                        </option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="exampleInputName1">
                                        <i class="mdi mdi-multiplication text-danger"></i>
                                        月计划时间范围
                                        （时间范围在所属的年计划时间范围内，且不与该年计划下的其它月计划时间冲突）
                                    </label>
                                    <div class="input-group input-daterange d-flex align-items-center">
                                        <input class="form-control timePicker" type="text" name="startTime"
                                               autocomplete="off" value="{{startTime}}">
                                        <div class="input-group-addon mx-4">to</div>
                                        <input class="form-control timePicker" type="text" name="endTime"
                                               autocomplete="off" value="{{endTime}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">
                                    月计划任务
                                    <button class="btn btn-gradient-primary btn-xs" type="button" id="addItem">添加任务
                                    </button>
                                </label>
                                <div id="allAddHtml">
                                    {% for p in m.plans%}
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <button class="btn btn-gradient-danger btn-xs mt-2 deleteItem"
                                                    type="button">删除
                                            </button>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="planLevel">
                                                        {% for o in levels.keys()%}
                                                        <option value="{{o}}" {%if p.level==o %}selected="selected"
                                                                {%endif%}>
                                                            {{levels[o]}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input class="form-control" placeholder="任务标题" name="planTitle"
                                                           value="{{p.title}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="isDone">
                                                        <option value="n" {%if not p.isDone %}selected="selected"
                                                                {%endif%}>未完成
                                                        </option>
                                                        <option value="y" {%if p.isDone %}selected="selected" {%endif%}>
                                                            已完成
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    <div id="addHtml">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-gradient-success mr-2" id="postDataBtn">提交</button>
                            <button type="button" class="btn btn-gradient-info mr-2 clickReback">返回</button>
                            {%if m.summarize%}<p>{{m.summarize|safe}}</p>{%endif%}
                        </div>
                        <div id="sourceHtml" class="d-none">
                            <div class="row">
                                <div class="col-sm-1">
                                    <button class="btn btn-gradient-danger btn-xs mt-2 deleteItem" type="button">删除
                                    </button>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="planLevel">
                                                {% for o in levels.keys()%}
                                                <option value="{{o}}">{{levels[o]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input class="form-control" placeholder="任务标题" name="planTitle">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="isDone">
                                                <option value="n">未完成</option>
                                                <option value="y">已完成</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h4 class="card-title">所属年计划任务列表</h4>
                        <p class="card-description" id="parentPlanTitle">{{m.yearlyPlan.title}}</p>
                        <ul class="list-unstyled" id="parentPlanJobs">
                            {%for i in m.yearlyPlan.plans%}
                            <li>
                                {% if i.level == 'L1' %}
                                <label class="alert alert-danger">紧急重要：{{i.title}} {%if i.isDone%}<i
                                        class="mdi mdi-check"></i>{%endif%}</label>
                                {% elif i.level == 'L2' %}
                                <label class="alert alert-warning">紧急不重要：{{i.title}} {%if i.isDone%}<i
                                        class="mdi mdi-check"></i>{%endif%}</label>
                                {% elif i.level == 'L3' %}
                                <label class="alert alert-info">重要不紧急：{{i.title}} {%if i.isDone%}<i
                                        class="mdi mdi-check"></i>{%endif%}</label>
                                {% else %}
                                <label class="alert alert-success">不重要不紧急：{{i.title}} {%if i.isDone%}<i
                                        class="mdi mdi-check"></i>{%endif%}</label>
                                {% endif %}
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJs %}
<script src="{{url_for('static',filename='extension/laydate/laydate.js')}}"></script>
<script>
    $(document).ready(function () {
        $("select[name='yearlyPlanId']").on('change', function () {
            parentPlanId = $(this).val()
            postUrl = "{{url_for('admin.timeManagementGetParentPlans')}}"
            $.ajax({
                type: "POST",
                url: postUrl,
                data: {
                    'id': parentPlanId,
                    'planType': 'yp',
                },
                success: function (ret) {
                    if (ret.status) {
                        $("#parentPlanTitle").text(ret.data.parentPlanTitle)
                        $("#parentPlanJobs").html(ret.data.parentPlanJobs)
                    }
                }
            });
        });
        $("#postDataBtn").on("click", function () {
            var tempThis = $(this)
            tempThis.addClass('d-none')
            title = $("input[name='title']").val()
            yearlyPlanId = $("select[name='yearlyPlanId']").val()
            startTime = $("input[name='startTime']").val()
            endTime = $("input[name='endTime']").val()
            planLevel = []
            $("#allAddHtml select[name='planLevel']").each(function () {
                planLevel.push($(this).val())
            });
            planTitle = []
            $("#allAddHtml input[name='planTitle']").each(function () {
                planTitle.push($(this).val())
            });
            isDone = []
            $("#allAddHtml select[name='isDone']").each(function () {
                isDone.push($(this).val())
            });
            postUrl = "{{ url_for('admin.timeManagementMonthlyPlanEdit',id=m.id) }}"
            $.ajax({
                type: "POST",
                url: postUrl,
                data: {
                    'title': title, 'yearlyPlanId': yearlyPlanId,
                    'startTime': startTime, 'endTime': endTime,
                    'planLevel': planLevel, 'planTitle': planTitle, 'isDone': isDone
                },
                success: function (ret) { //ret={'status':true,'info':'.....'}
                    if (ret.status) {
                        window.location.href = "{{ url_for('admin.timeManagementBoard',planType='mp',id=m.id) }}";
                    } else {
                        alert(ret.info)
                        tempThis.removeClass('d-none')
                    }
                }
            });
        });

        var html = $("#sourceHtml").html();
        $("#addItem").on('click', function () {
            $("#addHtml").append(html);
        });
        $(document).on('click', '.deleteItem', function (e) {
            //$(".deleteItem").on('click', function () {
            $(this).parent().parent().remove();
        });
        $(".clickReback").on("click", function () {
            history.go(-1)
        })
    });
    lay('.timePicker').each(function () {
        laydate.render({
            elem: this
            , trigger: 'click'
        });
    });
</script>
{% endblock %}
