{% extends 'theme/louie/_base.html' %}

{% block title %}about-{{custom['webName']}}{% endblock %}

{% block content %}
<section class="ftco-section ftco-bread">
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
                <h1 class="bread">About Me</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col">
                {{custom['aboutMe']|safe}}
                <div>
                    <!--PC和WAP自适应版-->
                    <div id="SOHUCS" sid="about"></div>
                    {%if custom['commentCode']%}
                    {{custom['commentCode']|safe}}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}