{% extends 'theme/louie/_base.html' %}

{% block title %}相册-{{custom['webName']}}{% endblock %}

{% block content %}
<section class="ftco-section ftco-bread">
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Photo</span>
                </p>
                <h1 class="bread">My Gallery : {{a.title}}</h1>
                <p class="breadcrumbs mt-2">
                {%for album in current_user.getPhotoAlbum()%}
                <span class="mr-2"><a href="{{url_for('home.photo',albumId=album.id)}}">{{album.title}}</a></span>
                {%endfor%}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section-3">
    <div class="photograhy">
        <div class="row">
            {%for p in ps%}
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <a href="{{url_for('static',filename=p.path)}}"
                   class="photography-entry img image-popup d-flex justify-content-start align-items-end"
                   style="background-image: url({{url_for('static',filename=p.path)}});">
                    <div class="overlay"></div>
                    <div class="text ml-4 mb-4">
                        <span class="tag">{%if p.introduction%}{{p.introduction}}{%endif%}</span>
                    </div>
                </a>
            </div>
            {%endfor%}
            <div class="row">
            <div class="col">
                <div class="block-27">
                    <ul>
                        {%if page>0%}
                        <li><a href="{{url_for('home.photo',albumId=a.id,page=page-1)}}">&lt;</a></li>
                        {%endif%}
                        {%if ps.count()>(page+1)*21%}
                        <li><a href="{{url_for('home.photo',albumId=a.id,page=page+1)}}">&gt;</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}